@import "tailwindcss";

@theme {
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-uw: 128rem;
}


@media (max-width: 639px) {}     /* < sm */
@media (min-width: 640px) {}     /* ≥ sm */
@media (min-width: 768px) {}     /* ≥ md */
@media (min-width: 1024px) {}    /* ≥ lg */
@media (min-width: 1280px) {}    /* ≥ xl */
@media (min-width: 1536px) {}    /* ≥ 2xl */
@media (min-width: 2048px) {}    /* ≥ uw ultrawide 4k */
@media print {}
