:root {
  --gap: 8px;
  --rounded: 12px;

  --colorText1: hsla(0, 0%, 100%, 0.93);
  --colorText2: hsla(0, 0%, 100%, 0.58);
  /* --colorText: hsl(0, 0%, 100%); */
  /* --colorText3: hsla(0, 0%, 100%, 0.36); */
  /* --colorText4: hsla(0, 0%, 100%, 0.22); */
  /* --colorText5: hsla(0, 0%, 100%, 0.14); */
  /* --colorText6: hsla(0, 0%, 100%, 0.08); */
  /* --colorText7: hsla(0, 0%, 100%, 0.05); */

  --colorElevation0: transparent;
  --colorElevation1: hsla(0, 0%, 100%, 0.02);
  --colorElevation2: hsla(0, 0%, 100%, 0.04);
  --colorElevation3: hsla(0, 0%, 100%, 0.08);
  /* --colorElevation4: hsla(0, 0%, 100%, 0.12); */
  /* --colorElevation4: hsla(0, 0%, 100%, 0.16); */

  --colorBorder1: hsla(0, 0%, 100%, 0.14);
  --colorBorder2: hsla(0, 0%, 100%, 0.22);
  /* --colorBorder3: hsla(0, 0%, 100%, 0.36); */
  /* --colorBorder4: hsla(0, 0%, 100%, 0.58); */

  --colorPrimary1: hsl(0, 0%, 7%);
  --colorPrimary2: hsla(0, 0%, 0%, 0.60);
  --colorPrimary3: hsla(0, 0%, 0%, 0.4);
  --colorAccent: #dc143c;

  /* --colorError: hsl(358, 62%, 48%); */
  /* --colorSecondary: white;
  --colorSecondary1: hsl(0, 0%, 93%);
  --colorSecondary2: hsla(0, 0%, 100%, 0.60); */
}
